<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	
	
	<!-- Config PayPal -->
	
	<context-param>
		<param-name>authtoken</param-name>
		<param-value>dr5oNOAldAgoMY1Sfq6jFlioEc4ed9nYvA_TpyEBLn5wIgnfTOOWu5FLVI8</param-value>
	</context-param>
	
	<context-param>
		<param-name>posturl</param-name>
		<param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
	</context-param>
	
	<context-param>
		<param-name>business</param-name>
		<param-value>phannhuutri2003-facilitator@yahoo.com</param-value>
	</context-param>
	
	<context-param>
		<param-name>returnurl</param-name>
		<param-value>http://localhost:8080/666_ProjetBoVoyage/paypal/sucess.html</param-value>
	</context-param>
	
	
	<!-- Declaration du Listener afin que le conteneur web puisse charger le 
		context spring ioc -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Specifier le chemin du fichier de config de spring ioc -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml /WEB-INF/security-context.xml</param-value>
	</context-param>

	<!-- Declaration de la Servlet unique de Spring mvc -->
	<servlet>
		<servlet-name>ds</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- Le chemin vers le fichier de config du context mvc -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-context.xml</param-value>
		</init-param>

	</servlet>

	<!-- Le mapping de la servlet unique -->
	<servlet-mapping>
		<servlet-name>ds</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- Etape 3: Declaration du filtre qui va etre utilise pour la securite -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<!-- Etape 4: Mapping du filtre -->
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- La page d'accueil -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>